### Python Conditional Statements and loops

#### 1. Write a Python program to construct the following pattern, using a nested for loop. 

(double click here to see pattern)

* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*

#### 2. Write a Python program to count the number of even and odd numbers from a series of numbers. 
* Sample numbers : numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9) 
##### Expected Output : 
* Number of even numbers : 5
* Number of odd numbers : 4

In [2]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9,10]
e_count = 0
o_count = 0
for i in list1:
    if i%2==0:
        e_count+=1
    else:
        o_count+=1
print('Number of even numbers : ',e_count)
print('Number of odd numbers : ',o_count)

Number of even numbers :  5
Number of odd numbers :  5

####  3. Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.
* Note : Use 'continue' statement. 
* Expected Output : 0 1 2 4 5

In [10]:
n = int(input())
for i in range(0,n):
    if i == 0:
        print(i,end = ' ')
    if i%3==0 and i==0:
        continue
    print(i,end = ' ')

6
0 1 2 3 4 5

#### 4. Write a Python program to get the Fibonacci series between 0 to 50. 
##### Note : The Fibonacci Sequence is the series of numbers :
* 0, 1, 1, 2, 3, 5, 8, 13, 21, .... 
* Every next number is found by adding up the two numbers before it.
* Expected Output : 1 1 2 3 5 8 13 21 34

In [12]:
n = int(input())
num_1 = 0
num_2 = 1
num_3 = 0
for i in range(n) :
    print(num_3,end=' ')
    num_1 = num_2
    num_2 = num_3
    num_3 = num_1 + num_2

50
0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229 832040 1346269 2178309 3524578 5702887 9227465 14930352 24157817 39088169 63245986 102334155 165580141 267914296 433494437 701408733 1134903170 1836311903 2971215073 4807526976 7778742049

#### 5. Write a Python program which takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. 

##### Note :
* i = 0,1.., m-1 
* j = 0,1, n-1.

* Test Data : Rows = 3, Columns = 4 
* Expected Result : [[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

In [13]:
row_num = int(input("Input number of rows: "))
col_num = int(input("Input number of columns: "))
multi_list = [[0 for col in range(col_num)] for row in range(row_num)]

for row in range(row_num):
    for col in range(col_num):
        multi_list[row][col]= row*col

print(multi_list)

Input number of rows: 3
Input number of columns: 4
[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

#### 6. Write a Python program to find numbers between 100 and 400 (both included) where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence

In [15]:
num = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        num.append(s)
print( ",".join(num))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

 #### 7. Write a Python program to print alphabet pattern 'A'.

#### 8. Write a Python program to print alphabet pattern 'P'

#### 9. Write a Python program to check a triangle is valid or not.

#### 10. Write a Python program to create the multiplication table (from 1 to 10) of a number.

In [18]:
n = int(input())
for i in range(1,n+1):
    print(i,'*',n,'=',i*n)

10
1 * 10 = 10
2 * 10 = 20
3 * 10 = 30
4 * 10 = 40
5 * 10 = 50
6 * 10 = 60
7 * 10 = 70
8 * 10 = 80
9 * 10 = 90
10 * 10 = 100

#### 11. Write a Python program to construct the following pattern, using a nested loop number.
1
22
333
4444
55555
666666
7777777
88888888
999999999

In [20]:
for i in range(1,10):
    for J in range(i,i+1):
        print(J*str(i),end=' ')

1 22 333 4444 55555 666666 7777777 88888888 999999999