### Python Data Types: Tuple - Exercises

#### 1. Write a Python program to create a tuple with different data types.

In [2]:
list1 = [1,2,3,4]
t1 = (1,2,3,4)
dict1 = {'1':7,'2':8}
string = 'kimi'
tuple = (list1,t1,dict1,string)
print(tuple)

([1, 2, 3, 4], (1, 2, 3, 4), {'1': 7, '2': 8}, 'kimi')

 #### 2. Write a Python program to add an item in a tuple

In [6]:
t1 = ([1, 2, 3, 4], (1, 2, 3, 4), {'1': 7, '2': 8}, 'kimi')
t1 = t1 + ('gajjar',)
print(t1)

([1, 2, 3, 4], (1, 2, 3, 4), {'1': 7, '2': 8}, 'kimi', 'gajjar')

 #### 3. Write a Python program to convert a tuple to a string.

In [9]:
t1 = (1,2,3,4,4)
string = ''
for i in t1:
    string += str(i)
print(string)

12344

#### 4. Write a Python program to find the repeated items of a tuple

In [11]:
t1 = (1,2,3,4,4)
for i in t1:
    if t1.count(i)>1:
        print(i)

4 4

#### 5. Write a Python program to find the length of a tuple.

In [12]:
t1 = (1,2,3,4,4)
print(len(t1))

5

#### 6. Write a Python program to convert a tuple to a dictionary.

In [17]:
t1 = ((12,12),(10,12),(14,52),(30,21))
print(dict((x,y) for x, y in t1))

{12: 12, 10: 12, 14: 52, 30: 21}

#### 7. Write a Python program to replace last value of tuples in a list. 
* Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
* Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [31]:
t1 = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
result =[t[:-1]+(100,) for t in t1]
print(result)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

#### 8. Write a Python program to replace last value of tuples in a list. 
* Sample data: [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
* Expected output: [('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

#### 9. Write a Python program to sort a tuple by its float element.
* Sample data: [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
* Expected Output: [('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

In [42]:
data = [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print( sorted(data, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]

#### 10. Write a Python program to count the elements in a list until an element is a tuple

In [1]:
d = [1,2,3,4,5,(2,3),4,5,6]
count = 0
for i in d:
    if type(i)==tuple:
        break
    count += 1
print(count)

5